/*==================
     Google fonts
 ===================*/
 @import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

 /*==================
      Global CSS
  ===================*/
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #00040F;
    scroll-behavior: smooth;
 }
 a{
    text-decoration: none;
 }
 :root{
    --white: #fff;
    --white-rgba: rgba(255,255,255,0.7);
    --white-rgba2: rgba(255,255,255,0.6);
    --sm-black: #00040e;
    --radial: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
    --radial2: linear-gradient(#DEF9FA 100%, #BEF3F5 100%,#9DEDF0 100%,#7DE7EB 100%, #5CE1E6 100%, #33BBCF 100%);
    --btn-bg:  linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    --linear: linear-gradient(#1A2980 100%, #26D0CE 100%);
    --hover-gradient: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
}
 h1,h2,h3,h4,h5{
    font-weight: 600;
 }
 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
 }
 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
 }
 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40.89px;
 }
 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
 }
 label{
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    display: block;
 }

  /*========================
      Header section start
  ==========================*/
header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 25px 8%;
    transition: all 0.3s ease-in-out;
}
header.sticky{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(14px);
    padding: 18px 8%;
    transition: all 0.3s ease-in-out;
 }
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a .logo{
    width: 56%;
}
nav .open{
    display: none;
}
.menu ul{
    padding: 0;
    margin: 0;
}
.menu ul li{
   list-style: none;
   display: inline-block;
   margin: 0 30px;
}
.menu ul li a{
    position: relative;
    color: var(--white-rgba);
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}
.menu ul li a::before{
   position: absolute;
   content: "";
   width: 100%;
   height: 2px;
   left: 0;
   bottom: -7px;
   background-color: var(--white);
   opacity: 0;
   transition: all 0.3s ease-in-out;
}
.menu ul li a:hover::before{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.menu ul li a:hover{
    color: var(--white);
    transition: all 0.3s ease-in-out;
}
nav .fa-bars{
    display: none;
}

/*========================
    Hero section start
 =========================*/
.hero-section{
    padding: 200px 0 100px;
}
.hero1 .sm-describe{
    display: flex;
    align-items: center;
    background: linear-gradient(#272727 ,#11101D);
    width: 43%;
    border-radius: 10px;
    padding: 4px 12px;
    margin-bottom: 25px;
}
.hero1{
    position: relative;
    z-index: 1;
}
.hero1 .sm-describe h5{
    margin: 0;
    color: var(--white-rgba2);
    font-size: 12px;
    margin-left: 14px;
}
.hero1 .sm-describe h5 span{
    color: var(--white);
}
.hero1 h1{
    color: var(--white);
}
.hero1 .h1{
    font-size: 72px;
    font-weight: 600;
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.hero1 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30.81px;
    color: var(--white-rgba2);
    margin-top: 60px;
    padding-right: 271px;
}
.hero1 .round{
    position: absolute;
    top: 55px;
    right: 120px;
    width: 140px;
    height: 140px;
    border: 2px solid #36BED1;
    border-radius: 50%;
}
.hero1 .round h4{
    position: absolute;
    text-align: center;
    line-height: 28px;
    text-transform: capitalize;  
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero1 .round h4 .fa-arrow-right{
    color: var(--white);
    font-size: 16px;
    margin-left: 10px;
}
.hero1 .blur1{
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 50%;
    top: 26%;
    left: -48%;
    background: rgba(255, 255, 255, 0.6);
    filter: blur(200px);
}
.robo-img{
    position: relative;
}
.robo-img .robo {
    position: absolute;
    width: 166%;
    top: -14px;
    right: -116px;
}
.robo-img .blur2{
    position: absolute;
    z-index: -1;
    width: 340px;
    height: 365px;
    top: 150px;
    right: 110px;
    background: rgba(255, 255, 255, 0.6);
    filter: blur(130px);
}

/*========================
    Count section start
 =========================*/
.count-section{
  padding: 40px 0;
}
.count1{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 28px;
}
.count1::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 14px;
    top: 45%;
    right: -5%;
    transform: translateY(-55%);
    background: var(--white-rgba2);
}
.count1 h3,
.count2 h3,
.count3 h3{
    color: var(--white);
    margin-left: 50px;   
}
.count1 h4,
.count2 h4,
.count3 h4{
    background: var(--radial);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    margin-left: 16px;
    font-size: 16px;
}
.count2{
    position: relative;
    display: flex;
    align-items: center;
}
.count2::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 14px;
    top: 45%;
    right: -10%;
    transform: translateY(-55%);
    background: var(--white-rgba2);
}
.count3{
    position: relative;
    display: flex;
    align-items: center;
}

/*========================
    About section start
 =========================*/
.about-section{
    padding: 100px 0 60px;
}
.about-section .about-details h2{
  color: var(--white);
  font-size: 44px;
  line-height: 76px;
  padding-right: 80px;
  margin-bottom: 25px;
}
.about-section .about-details p{
    font-size: 16px;
    color: var(--white-rgba);
    padding-right: 147px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.about-section .about-details .btn-hash{
    color: var(--sm-black);
    background: var(--btn-bg);
    padding: 16px 0;
    border-radius: 10px;
    display: block;
    width: 160px;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}
.about-conver{
    padding: 22px 18px 20px;
    border-radius: 20px;
    margin-top: 10px;
    transition: all 0.9s ease-in-out;
}
.about-conver:hover{
    background: var(--hover-gradient);
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
    border-radius: 20px;
    transition: all 0.94s ease-in-out;
}
.about-conver .detail-img{
    float: left;
    margin-right: 25px;   
}
.about-conver .conver{
  overflow: hidden;
}
.about-conver .conver h4{
    font-size: 18px;
    color: var(--white);
}
.about-conver .conver p{ 
    color: var(--white-rgba);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
}

/*========================
    About2 section start
 =========================*/
 .about2-section{
   padding: 80px 0 ;
 }
.about2-section .detail-img .imp-img{
  width: 100%;
}
.about-details2 h2{
    color: var(--white);
    font-size: 44px;
    line-height: 68px;
    margin-bottom: 25px; 
}
.about-details2 p{
    font-size: 16px;
    color: var(--white-rgba);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;  
    padding-right: 40px;  
}
.about-details2 ul{
    padding: 0;
    margin: 0;
}
.about-details2 ul li{
  list-style: none;
  display: inline-block;  
}
.about-details2 ul li .btn-img{
    margin-left: 20px;
}

/*========================
    About3 section start
 =========================*/
.about3-section{
    padding: 80px 0 ;
}
.about3-section .about-details3 h2{
    color: var(--white);
    font-size: 44px;
    line-height: 64px;
    margin-bottom: 20px;
}
.about3-section .about-details3 p {
    font-size: 16px;
    color: var(--white-rgba);
    padding-right: 120px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}
.about3-section .about-details3 .btn-dash{
    color: var(--sm-black);
    background: var(--btn-bg);
    padding: 16px 0;
    border-radius: 10px;
    display: block;
    width: 160px;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}
.detail-img2 .imp-img2{
    width: 86%;
    display: block;
    margin: auto;
}

/*========================
    logo section start
 =========================*/
.logo-section{
  padding: 50px 0;
}
.kimage .img12{
    display: block;
    margin-top: 14px;
}
.kimage .img14{
    display: block;
    margin-top: 14px;
}

/*========================
    service section start
 =========================*/
.service-section{
  padding: 50px 0 90px;
}
.service-section .service-padding{
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 70px 0 60px; 
}
.service-details h2{
    color: var(--white);
    margin-bottom: 28px;
    font-size: 44px;
}
.service-details p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28.81px;
    color: var(--white-rgba2);
    padding-right: 240px;
}
.button-sec .btn-yash{
    color: var(--sm-black);
    background: var(--btn-bg);
    padding: 16px 0;
    border-radius: 10px;
    display: block;
    width: 160px;
    margin: auto;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;  
}

/*========================
    footer1 section start
 =========================*/
.footer1-section{
    padding: 50px 0;
}
.footer1-section .footer-details img{
    width: 85%;
    display: block;
    margin-bottom: 24px;
}
.footer1-section .footer-details p{
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: var(--white-rgba2); 
    padding-left: 6px; 
}
.menu1 h3{
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}
.menu1 ul{
   padding: 0;
   margin: 0;
}
.menu1 ul li{
  list-style: none;
  display: block;
  margin: 12px 0;
  color: var(--white-rgba);
  font-weight: 400;
}

/*========================
    footer2 section start
 =========================*/
footer .last-footer{
  border-top: 1px solid #3F3E45;
  padding: 40px 0 20px 0;
}
.ls-foot p{
   font-size: 16px;
   font-weight: 400;
   color: var(--white-rgba2);
}
.social-icons ul{
    padding: 0;
    margin: 0;
    text-align: right;
}
.social-icons ul li{
   list-style: none;
   display: inline-block; 
   margin: 0 10px;
}
.social-icons ul li i{
    color: var(--white);
    font-size: 24px;
}

@media (min-width: 320px) and (max-width:576px){
 header { padding: 10px 4%; z-index: 101;}
 header.sticky{ padding: 10px 4%;}
 nav a .logo { width: 150px;}
 .menu {position: fixed; top: 0; left: -100%; right: 0; width: 60%; height: 108vh; display: flex; justify-content: center; background: #FFF; z-index: 9999; transition: all 0.3s ease-in-out;}
 .menu ul { margin-top: 8em; text-align: center;}
 .menu ul li { display: block; margin-bottom: 30px;}
 .menu ul li a { color: #000; font-weight: 600; font-size: 18px;}
 .menu.active1{left: 0%; transition: all 0.3s ease-in-out;}
  nav .fa-bars{ display: block; color: #FFF; font-size: 26px; margin-top: 8px; transition: all 0.3s ease-in-out;}
 .menu ul li a::before{ background-color: #000;}
 .menu ul li a:hover{color: #000;}

.hero-section { padding: 140px 0 600px;}
.hero1 .sm-describe{ width: 310px; margin: 0 0 75px;}
.hero1 h1 { font-size: 36px;}
.hero1 .h1 { font-size: 54px; display: block;}
.hero1 p { font-size: 14px; line-height: 26.81px; margin-top: 20px; padding-right: 0; text-align: left;}
.hero1 .round { right: 0; width: 110px; height: 110px;}
.round h4 {font-size: 16px; line-height: 24px;}
.hero1 .blur1 { position: static; width: 0; height: 0; border-radius: 0; background: none; filter: blur(0px);}
.robo-img .robo { width: 100%; top: 36px; right: 0;}

.count-section { padding: 25px 0;}
.count1, .count2, .count3{ display: inherit; padding: 0; text-align: center; margin-bottom: 30px}
.count1 h3, .count2 h3, .count3 h3 { margin-left: 0; font-size: 38px; margin-bottom: 8px;}
.count1 h4, .count2 h4, .count3 h4 { margin-left: 0; font-size: 18px;}

.about-section { padding: 30px 0 50px;}
.about-section .about-details h2 { font-size: 30px; line-height: 44px ; padding-right: 0; text-align: center;}
.about-section .about-details p { padding-right: 0; text-align: center; line-height: 26px;}
.about-section .about-details .btn-hash { margin: 0 auto 45px;}

.about2-section { padding: 50px 0;}
.about2-section .detail-img .imp-img { margin-bottom: 40px;}
.about-details2 h2 { font-size: 36px; text-align: center; line-height: 50px;}
.about-details2 p { line-height: 26px; text-align: center; padding-right: 0;}
.about-details2 ul { text-align: center;}

.about3-section { padding: 40px 0;}
.about3-section .about-details3 h2 { font-size: 30px; text-align: center; line-height: 44px;}
.about3-section .about-details3 p { text-align: center; font-size: 16px; padding-right: 0; line-height: 26px; margin-bottom: 35px;}
.about3-section .about-details3 .btn-dash { margin: 0 auto 85px;}

.logo-section { padding: 50px 0;}
.kimage img { display: block; margin: 16px auto;}
.kimage .img12 { display: block; margin: 16px auto;}
.kimage .img14 { display: block; margin: 16px auto;}

.service-section {padding: 50px 0 30px;}
.service-section .service-padding { padding: 50px 24px 45px;}
.service-details h2 { font-size: 40px; text-align: center;}
.service-details p { padding-right: 0; text-align: center;}

.footer1-section .footer-details img { width: 200px; margin: 0 auto 20px;}
.footer1-section .footer-details p { text-align: center;}
.menu1 { margin-top: 30px; text-align: center;}
.menu1 ul li { margin: 6px 0;}

footer .last-footer { padding: 20px 0 20px 0;}
.ls-foot p { font-size: 14px; text-align: center;}
.social-icons ul { text-align: center;}


}

@media (min-width: 577px) and (max-width: 768px){

}